/* CSS初始化 */
* {
    padding: 0;
    margin: 0;
}
.m {
    width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
/* header-start */
.header {
    margin-top: 20px;
    line-height: 25px;
    /* 清除浮动 */
    overflow: hidden;
}
.header h2{
    float: left;
}
.header input{
    float: left;
    height: 25px;
    width: 45px;
    margin-left: 30px;
    background-color: rgb(125, 125, 253);
    color: white;
    border: none;
    cursor: pointer;
}
/* header-end */
/* main-start */
.main {
    margin-top: 40px;
    /* 清除浮动 */
    overflow: hidden;
}
.main ul li {
    float: left;
    width: 95px;
    height: 140px;
    /* background-color: skyblue; */
    background-color: rgb(125, 125, 253);
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    /* border: 1px solid #87858d; */
}

/* .main ul li:hover {
    border: 1px solid #87858d;
    cursor: pointer;
} */
.main ul li img {
    width: 45px;
    height: 45px;
    margin: 23px 25px;
    border-radius: 50%;
    
}
.main ul li p {
    /* display: inline-block; */
    margin-top: -20px;
    padding: 0 5px;
    text-align: center;
    font-size: 10px;
    color: white;
}
/* main-end */
/* log-start */
.log {
    margin-top: 50px;
}
.log .random {
    float: right;
    width: 95px;
    height: 140px;
    margin-right: 50px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #ccc;
    /* text-align: center; */
}
.log p {
    font-size: 12px;
    color: #fff;
    margin-top: 3px;
}
/* log-end */