/* body */
.one_Lc {
	background-color: #ECEFF1!important; 
	transition: all 0.7s;
}
/* .news_left */
.two_Lc {
	background-color: white!important;
	box-shadow: 0 0 5px #e5e5e5!important;
	transition: all 0.7s;
}
/* #headNav */
.three_Lc {
	background-color: rgba(29,167,218)!important;
	transition: all 0.7s;
}
/* footer */
.footer_Lc {
	background-color: #1DA7DA!important;
	transition: all 0.7s;
}
/* .about-cover {
	background-color: rgba(27,40,56)!important;
} */
/* h2,h4,p,b */
.end_Lc {
	color: #000!important;
	transition: all 0.7s;
}
/* hr */
.hr_border_Lc {
	border-color: #000!important;
	transition: all 0.7s;
}
/* // recommer.html中ul li 下边框的颜色 */
.li_border_Lc {
	border-bottom: 1px solid #CCCCCC!important;
	transition: all 0.7s;
}
.span_font_Lc {
	color: #D2D2D2;
	transition: all 0.7s;
}
.li_font_Lc {
	color: #000;
	transition: all 0.7s;
}